body {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 40px;
  font-family: arial;
  text-transform: uppercase;
  background-color: #444444;
}

.container {
  background-color: orange;
  color: white;
  height: 530px;
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  border-radius: 10px;
}

.directions {
  height: 60px;
  width:auto;
  background-color: orange;
  padding:10px;
}

#startgame {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  transition: .2s ease-in;
}

#startgame:hover{
  color: orange;
  transform: scale(1.1);
  cursor: pointer;
}

#title {
  background-color: black;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  transition: .2s ease-in-out;
  margin-bottom:0px;;
}

#title:hover {
  color: orange;
}

#dir {
  color: black;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
  padding-top:7px;
}

.player-input {
  padding-left: 30px;
}

.player-input input {
  font-size: 25px;
  width: 27%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  padding-left: 15px;
  text-align: center;
}

.player-input button {
  margin-left: 34px;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  transition: .2s ease-in-out;
  margin-top:
}

.player-input button:hover {
  color: orange;
  transform: scale(1.1);
  cursor: pointer;
}

.compdisplay {
  background-color: black;
  height: 90px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 17px;
}

.compdisplay h1 {
  font-size: 30px;
  margin: 0 auto;
  margin-top: 0px;
}

.compdisplay .main-message {
  height: 20px;
}

#restart {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 8px;
  border-radius: 8px;
  transition: .2s ease-in-out;
  margin-top: 12px;
}

#restart:hover {
  color: orange;
  cursor: pointer;
}
